.gridCentrao {
    display: grid;
    place-items: center;
}

.pageSize {
    height: 95vh;
    width: 98vw;
}

.gridTop {
    display: grid;
    place-items: top;
}

.EightyPercentSize {
    height: 80%;
    width: 80%;
    overflow: auto;
}

.NinetyercentSize {
    height: 90%;
    width: 90%;
}

.grid-2row-top {
    grid-template-rows: 5% 95%;
}

.grid-2col-equal {
    grid-template-columns: 50% 50%;
}

.grid-3col-equal {
    grid-template-columns: 33% 33% 33%;
}