<div>
    <a class="pill" href="/" rel="noopener">
        <span>Regresar</span>
        <svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 -960 960 960" width="14" fill="currentColor">
            <path
                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" />
        </svg>
    </a>
    <h1>Estudiantes</h1>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @for (item of usuarios; track 'id') {
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.email }}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userModal"
                        (click)="onUpdateUsuario(item, item.id)">
                        Editar
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="deleteUsuario(item.id)">
                        Eliminar
                    </button>
                </td>
            </tr>
            }
        </tbody>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userModal">
            Agregar
        </button>

        <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModal" aria-hidden="true" #userModal>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="userModal">
                            @if (usuarioId == 0) {
                            Añadir Usuario
                            } @else{
                            Editar Usuario
                            }
                        </h5>
                        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                placeholder="Nombre del estudiante" [(ngModel)]="usuario.nombre">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Correo</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="name@example.com" [(ngModel)]="usuario.email">
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="col-form-label">Password</label>
                            <input type="password" class="form-control" id="inputPassword"
                                [(ngModel)]="usuario.password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
                        @if (usuarioId == 0) {
                        <button type="button" class="btn btn-primary" (click)="addUsuario()">Guardar Usuario</button>
                        } @else{
                        <button type="button" class="btn btn-primary" (click)="updateUsuario()">Edtiar Usuario</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </table>
</div>