<div class="container-todo">
    <div class=" container-inicio px-4 border p-3 shadow ">
        <div class="">
            <button type="button" class="btn">
                <a class="pill" href="/" rel="noopener">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#359988" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                  </svg>
                </a>
            </button>
        </div>
        <div class="col-sm">
            <h3>Mis Estudiantes</h3>
        </div>
        
        
    </div>
    <br>
    <div class="cborder p-3 shadow btn-color-border">
        <button type="button" class="btn btn-color" data-bs-toggle="modal" data-bs-target="#userModal">
            Crear un nuevo estudiante
        </button>
        <br>
        <br>
        <table class="table caption-top">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @for (item of usuarios; track 'id') {
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.email }}</td>
                    <td>
                        <button type="button" class="btn btn-color-border" data-bs-toggle="modal" data-bs-target="#userModal"
                            (click)="onUpdateUsuario(item, item.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                              </svg>
                            Editar
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-color-border" (click)="deleteUsuario(item.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                              </svg>
                            Eliminar
                        </button>
                    </td>
                </tr>
                }
            </tbody>
            


            <div class="modal" id="userModal" tabindex="-1" aria-labelledby="userModal" aria-hidden="true"
                #userModal>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="userModal">
                                @if (usuarioId == 0) {
                                Crear Estudiante
                                } @else{
                                Editar Información de Estudiante
                                }
                            </h5>
                            <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Nombre del estudiante" [(ngModel)]="usuario.nombre">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Correo</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                    placeholder="name@example.com" [(ngModel)]="usuario.email">
                            </div>
                            <div class="mb-3">
                                <label for="inputPassword" class="col-form-label">Password</label>
                                <input type="password" class="form-control" id="inputPassword"
                                    [(ngModel)]="usuario.password">
                            </div>
                        </div>
                        <div id="alertContainer" #alertContainer></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
                            @if (usuarioId == 0) {
                            <button type="button" class="btn btn-primary" (click)="addUsuario()">Guardar
                                Usuario</button>
                            } @else{
                            <button type="button" class="btn btn-primary" (click)="updateUsuario()">Edtiar
                                Usuario</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </table>
    </div>

</div>