<div>
    <a class="pill" href="/" rel="noopener">
        <span>Regresar</span>
        <svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 -960 960 960" width="14" fill="currentColor">
            <path
                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" />
        </svg>
    </a>
    <h1>Cursos</h1>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Matricular</th>
            </tr>
        </thead>
        <tbody>
            @for (item of cursos; track 'id') {
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.nombre }}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cursoModal"
                        (click)="onUpdateCurso(item, item.id)">
                        Matricular
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <table class="table">
        <tbody>
            <tr *ngFor="let item of cursosCompletos; trackBy: trackById">
                <td>{{ item.id }}</td>
                <td>{{ item.nombre }}</td>
                <td>
                    <ng-container *ngFor="let item1 of item.cursoUsuarios; trackBy: trackById">
                        <p>relacion</p>
                        <p>{{ item1.usuarioId }}</p>
                        <p>{{ getUsuarioNombre(item1.usuarioId) }}</p>
                        <button type="button" class="btn btn-primary"
                            (click)="desmatricularEstudiante(item1.usuarioId, item.id)">
                            Desmatricular
                        </button>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <div class="container my-4">

            <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <!-- <img src="..." class="d-block w-100" alt="..."> -->

                        <!-- Instead of image, div with style and min-height -->
                        <div style="min-height: 140px;">
                            <div class="carousel-caption d-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                            </div>
                        </div><!-- end of div style min-height: 140px; -->
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <!-- Instead of image, div with style and min-height -->
                        <div style="min-height: 140px;">
                            <div class="carousel-caption d-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                            </div>
                        </div><!-- end of div style min-height: 140px; -->
                    </div>
                    <div class="carousel-item">
                        <!-- Instead of image, div with style and min-height -->
                        <div style="min-height: 140px;">
                            <div class="carousel-caption d-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                            </div>
                        </div><!-- end of div style min-height: 140px; -->
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>


        </div>
    </div>



    <!-- Modal para Matricular Estudiantes -->
    <div class="modal fade" id="cursoModal" tabindex="-1" aria-labelledby="cursoModal" aria-hidden="true" #cursoModal>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cursoModal">
                    </h5>
                    <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Nombre del curso" [(ngModel)]="curso.nombre" readonly>
                    </div>


                    <!-- Tabla de Estudiantes -->

                    <h5>Estudiantes</h5>
                    <table class="table table-light table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Email</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (usuario of usuariosMatriculados; track 'id') {
                            <tr>
                                <td>{{ usuario.id }}</td>
                                <td>{{ usuario.nombre }}</td>
                                <td>{{ usuario.email }}</td>
                                <td>
                                    <button type="button" class="btn btn-success"
                                        (click)="matricularEstudiante( usuario.id)">
                                        Matricular
                                    </button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>